.productList {
    /* background-color: red; */
    text-align: center;
}



.productCard {
    cursor: pointer;
    display: grid;  
    margin: 15px;
    width: 210px;
    flex-shrink: 0;  
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 12px -6px rgba(0, 0, 0, 0.25);       
}

.productCard .productImage {
    width: 210px;
    height: 226px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.title {
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.productCard .title .productname {
    color: #000;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.productCard .title .productcondition {
    font-size: 14px;
    font-weight: 450;
}

.productCard .title .productcondition2 {
    padding: 5px;
    height: 10px;
    color: #000;
    font-size: 14px;
    font-weight: 450;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FAD0C4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productCard .title .numberproduct {
    color: #656565;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 40px;
}

.productCard .title .price {
    color: #656565;
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-top: 40px;
    line-height: normal;
}

.title2 {
    height: 45px;
    padding: 16px;
}